{% extends 'app/base.html' %}
{% load static  %}

{% block title %} Password Reset {% endblock %}
{% block information %}
<div class="container ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Successfully !</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk"  width="200" height="200" class="giphy-embed" frameborder="0" allowfullscreen></iframe>
            </div>
        
            
        </div>
    </div>
</div>

{% endblock %}