{% extends 'app/base.html' %}
{% load static  %}

{% block title %} Password Reset {% endblock %}
{% block information %}
<div class="container ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Confirm</h3>
            <hr>
            <form action="" method="post" class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
               {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                {% endfor %}
                {% comment %} <small><a href="{% url 'password_rest' %}">Forgot Password ?</a></small><br> {% endcomment %}
                <input type="submit" class="btn btn-primary mt-4" value="Submit"><br>
                {% comment %} <div class="text-center text-primary fw-bold"><small>New User?</small><a href="{% url 'registration'  %}" class="text-danger">Create an Account</a> </div> {% endcomment %}
            {% comment %} </form> {% endcomment %}
                {% if form.non_field_errors %}
                {% for er in form.non_field_errors %}
                <p class="alter alter-danger my-3" >{{er}}</p>
                {% endfor %}
                {% endif %}

            </form>
            
        </div>
    </div>
</div>

{% endblock %}