{% extends 'app/base.html' %}
{% load static  %}

{% block title %} Change Password Successfully{% endblock %}
{% block information %}
<div class="container my-5">
    <div class="row ">
    <h3>Welcome <span>{{request.user.username|capfirst}}</span></h3>
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
        </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
        <h3>Password Changed Successfully !!! </h3> 
        <div class="">
            <iframe src="https://giphy.com/embed/ibolle3mOqHE3PQTtk" width="200"  height="200" allowfullscreen class="giphy-embed" ></iframe>
        </div>
    </div>
    </div>
</div>

{% endblock %}