{% extends 'app/base.html' %}
{% load static  %}

{% block title %} Change Password{% endblock %}
{% block information %}
<div class="container my-5">
    <div class="row ">
    <h3>Welcome <span>{{request.user.username|capfirst}}</span></h3>
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
        </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
        <form action="" method="post">
            {% csrf_token %}
            {% for fm in form %}
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
            {% endfor %}
            <button class="text-center btn btn-danger">Sumbit</button>
            {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
            <p class="alter alter-danger">{{err}}</p>
            {% endfor %}
            {% endif %}
        </form>
    </div>
    </div>
</div>

{% endblock %}