{% extends 'app/base.html' %}
{% load static %}

{% block title %} Search {% endblock %}
{% block information %}
<div class="container my-3">
    <div class="row">
    {% for prod in Product %}
    <div class="col-sm-4 text-center mb-4 hover-shadow">
        <a href="{% url 'product-details' prod.id %}" class="btn">
            <div class="">
                <img src="{{ prod.product_image.url }}" width="300" height="200" alt="{{ prod.title }}">
                <div class="fw-bold">{{ prod.title }}</div>
                <div class="fw-bold text-danger">
                    Rs.{{ prod.discounted_price }}/-
                    <small class="fw-light text-decoration-line-through">Rs.{{ prod.selling_price }}/-</small>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
