<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    li{
      width: 200px;
      border: 1px solid;
    }
    .orange{
      display: none;
    }
    .pink:hover +.orange{
      display: block;
    }
  </style>
</head>
<body>
  <ul>
    <li class="pink">1</li>
    <ul class="orange">
      <li>login</li>
      <li>register</li>
      <li>signup</li>
      <li>logo</li>
    </ul>
  </ul>
  
</body>
</html>